#fastapi>=0.135.3
#uvicorn==0.25.0
#uvicorn[standard]>=0.27.0,<0.30.0
#python-multipart==0.0.9
#ultralytics==8.4.33
#opencv-python-headless==4.13.0.92
#pillow==12.2.0
# numpy==1.26.4
#numpy>=1.23.0 
#requests==2.33.1
#--extra-index-url https://download.pytorch.org/whl/cpu
#torch==2.11.0+cpu
#torchvision==0.26.0+cpu

fastapi>=0.135.3
uvicorn>=0.27.0
python-multipart==0.0.9

ultralytics==8.4.33

opencv-python-headless==4.13.0.92
pillow==12.2.0
#numpy==1.26.4
numpy>=2.0.0
requests==2.33.1

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.11.0+cpu
torchvision==0.26.0+cpu
